{% load static %}

<!-- fixed-top-->
{% block top_navbar %}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="robust admin logo" src="{% static 'app-assets/images/logo/logo-dark-sm.png' %}">
            <h3 class="brand-text">Welcome</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
      </ul>
    </div>
    <div class="navbar-container container center-layout">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu">         </i></a></li>
          <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
            <div class="search-input">
              <input class="input" type="text" placeholder="Search...">
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">         
          <li class="nav-item">
            <a class="nav-link nav-link-label" href="#"><i class="ficon ft-settings"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-label" href="#"><i class="ficon ft-message-square"></i></a>
          </li>
          <li class="dropdown dropdown-user nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
              <i class="ficon ft-user"></i></span><span class="user-name">John Doe</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a>
              <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endblock top_navbar %}

{% block menu_navbar %}
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
  <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
    <ul class="nav navbar-nav mr-auto float-left" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="active nav-item">
        <a class="nav-link" href="{% url 'dashboard:index' %}">
          <i class="icon-home"></i><span data-i18n="nav.dash.main">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="icon-note"></i><span data-i18n="nav.templates.main">Subjects</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:teams' %}">
          <i class="icon-people"></i><span data-i18n="nav.templates.main">Teams</span>
        </a>
      </li>
    </ul>

    <div class="nav navbar-nav float-right">         
      <span><i class="fa fa-calendar"></i> Today: {% now 'M d, Y' %}</span>
    </div>
  </div>
</div>
{% endblock menu_navbar %}